/*.navbar {
	position: fixed;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);
}

.logo {
	width: 100px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #DD5900;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}

.navbar-nav>li>a {
	padding-top: 6px;
	padding-bottom: 15px;
	padding-left: 94px;
	padding-right: 0px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -32px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: ;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #DD5900;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #DD5900;
    white-space: nowrap;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:focus, a:hover {
    color: #dd530c;
    text-decoration: underline;*/


    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    }


    header{
        color: #DD5900;
        background-color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);

    }

    .logo {
        width: 190px;

    }
    
    .title{
        color: #DD5900;
        margin-top: 4px;
    }

    body {
        font-size: 16px;
        font-weight: 400
    }

    body,
    html {
        height: 100%
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;

        margin: 0;
    }




    body {
        background-repeat: repeat;
        background-size: cover;
        background-image: url(../img/projects/bg.jpg);;
    }





.m-top{
    margin-top: 50px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);
    border-radius: 15px;
}


/*
 * Specific styles of signin component
 */
/*
 * General styles
 */

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo-login {
    width: 130px;
    margin: 0 auto 10px;
    display: block;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 5px 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputAnswer,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(221, 89, 0);
    /* background-color: linear-gradient(rrgb(221, 89, 0), rgb(98, 104, 116));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(98, 104, 116);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(98, 104, 116);
}


